@model IEnumerable<PernikComputers.Models.OrderListingViewModel>
@{
    ViewData["Title"] = "All";
}

<div class="d-lg-inline-block align-top col-3" id="filter-left">
        @await Html.PartialAsync("~/Views/Clients/_ManageLayoutPartialView.cshtml")
</div>
<div class="d-lg-inline-block align-top col-md-8 m-auto">
    @if (ViewContext.RouteData.Values["action"].ToString() == "All" || ViewContext.RouteData.Values["action"].ToString() == "Rejected")
    {
        @await Html.PartialAsync("~/Views/Employees/_AdminPanelPartialView.cshtml")

        <div class="alert alert-info" style="margin-top: 25px">
            <h2 class="text-center">Orders - @Model.Count()</h2>
        </div>
    }
    else if (Model.Count() == 0)
    {
        <h4>No Orders</h4>
    }
    @if (Model.Count() > 0)
    {

        @foreach (var item in Model)
        {
            <div>
                <div>
                    <h4>
                        Order: @item.Manufacturer @item.Model
                    </h4>
                    <div class="row justify-content-between m-0">
                        <span>
                            Status: @item.Status
                        </span>
                        <span>
                            Ordered on: @item.OrderedOn
                        </span>
                    </div>
                </div>
                <div>
                    <p>User: @item.CustomerUsername</p>
                </div>
                <div class="row justify-content-between m-0">
                    <p class="order-price-p">Total Price: @item.TotalPrice</p>

                    <div>
                        @if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
                        {
                            <a class=" btn btn-success" asp-action="Edit" asp-controller="Orders" asp-route-id="@item.Id">Edit</a>
                        }
                        <a class="order-details-btn btn" asp-action="Details" asp-controller="Orders" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
            <hr />
        }
    }
</div>