@model IEnumerable<PernikComputers.Models.OrderListingViewModel>

@{
    ViewData["Title"] = "All";
}

<div class="b-inline-top col-3" id="filter-left">
        @await Html.PartialAsync("~/Views/Clients/_ManageLayoutPartialView.cshtml")
</div>
<div class="b-inline-top col-md-8" id="products">
    <form asp-action="Details">
        @foreach (var item in Model)
        {
            <div>
                <div>
                    <h4>
                        Order: @item.Manufacturer @item.Model
                    </h4>
                    <div class="order-container-flex">
                        <span>
                            Status: @item.Status
                        </span>
                        <span id="order-date">
                            Ordered on: @item.OrderedOn
                        </span>
                    </div>
                </div>
                <div>
                    <p>User: @item.CustomerUsername</p>
                </div>
                <div class="order-container-flex">
                    <p class="order-price-p">Total Price: @item.TotalPrice</p>

                    <button type="submit" class="order-details-btn btn">Details</button>
                </div>
            </div>
            <hr />
        }
    </form>
</div>