@model IEnumerable<PernikComputers.Models.ClientListingModel>

@{
    ViewData["Title"] = "All";
}

<div class="d-lg-inline-block align-top col-3" id="filter-left">
    @await Html.PartialAsync("~/Views/Clients/_ManageLayoutPartialView.cshtml")
</div>
<div class="d-lg-inline-block align-top col-md-8">
    @await Html.PartialAsync("~/Views/Employees/_AdminPanelPartialView.cshtml")

    <div class="alert alert-info" style="margin-top: 25px">
        <h2 style="text-align: center">Clients - @Model.Count()</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td style="padding: 7px">
                            <form asp-action="Delete" asp-controller="Clients" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn text-danger"><i class="bi bi-trash-fill"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>