@model OrderCreateBindingModel

<form asp-controller="Orders" asp-action="Create" method="post">
    <div class="d-flex align-items-center" style="justify-content: space-evenly">
        <label class="font-weight-bold text-left mr-1" asp-for="Count">
            Quantity:
        </label>
        <div class="mr-1">
            <input class="form-control text-center m-auto" min="1" asp-for="Count" id="productQuantity" value="1" onchange="CalculatePrice()" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <button type="submit" class="btn btn-danger">Order</button>
        }
        else
        {
            <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Login">Order</a>
        }

    </div>
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
    <input type="hidden" asp-for="Manufacturer" value="@Model.Manufacturer" />
    <input type="hidden" asp-for="Model" value="@Model.Model" />
    <input type="hidden" asp-for="Price" value="@Model.Price" />
    <input type="hidden" asp-for="Category" value="@Model.Category" />
</form>