@model IEnumerable<ProductAllViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1 class="text-center">Products</h1>
<hr />

<div class="div-m-top">
    <div class="d-lg-inline-block align-top col-3" id="filter-left">
        <form class="filter-form row" asp-action="@ViewContext.RouteData.Values["action"]" method="post">
            <div class="col-12 p-0 mb-3 w-100">
                <h4 class="filter-titles">Filters</h4>
                <div class="d-block">
                    <input type="radio" id="promotions" value="1" name="filter" class="wh-input"/>
                    <label for="promotions">Promotions</label>
                </div>
                <div class="d-block">
                    <input type="radio" id="topProducts" value="2" name="filter" class="wh-input"/>
                    <label for="topProducts">Top Products</label>
                </div>
                <div class="d-block">
                    <input type="radio" id="ascendingPrice" value="3" name="filter" class="wh-input"/>
                    <label for="ascendingPrice">Ascending Price</label>
                </div>
            </div>
            <div class="" id="filter-price">
                <h4 class="filter-titles">Price</h4>
                <input type="number" placeholder="Min price" min="0" name="minPrice" max="@Model.Select(x => x.Price).Max()"/>
                <span id="filter-dash">-</span>
                <input type="number" placeholder="Max price" min="0" name="maxPrice" max="@Model.Select(x => x.Price).Max()"/>
            </div>
            <div class="col-12 p-0 mb-3">
                <h4 class="filter-titles">Manufacturer</h4>
                @foreach (var item in ViewBag.Manufacturers)
                {
                    <div class="d-block">
                        <input type="checkbox" value="@item" id="@item" name="manufacturers" class="wh-input"/>
                        <label for="@item">@item</label>
                    </div>
                }
            </div>
            <div class="col-12 p-0 mb-3">
                <h4 class="filter-titles">Model</h4>
                @foreach (var item in ViewBag.Models)
                {
            <div class="d-block">
                <input type="checkbox" value="@item" id="@item" name="models" class="wh-input"/>
                <label for="@item">@item</label>
            </div>
                }
            </div>
            <div class="d-block col-12 text-center p-0 mb-3">
                <hr />
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>

    <div class="d-lg-inline-block align-top col-lg-8 m-auto" id="products">
        <ul class="flex-row flex-wrap list-group">
            @foreach (var item in Model)
            {
            <li class="products-list-item list-group-item col-3 flex-row flex-wrap align-content-between rounded" style="display: grid">
                <div>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">
                        <img src="@item.Image" width="200" height="175">
                        <h5>@item.Manufacturer @item.Model</h5>
                    </a>
                </div>
                @if (item.Quantity == 0)
                {
                    <p class="text-danger">Not Available</p>
                }
                <div class="text-center" style="font-size: 14px;">
                    @foreach (var characteristic in item.Description)
                    {
                        <p style="margin-bottom: 10px">@characteristic</p>
                    }
                </div>
                <div>
                    <div style="height: 24px">
                        @if (item.Discount > 0)
                        {
                            var oldPrice = $"{item.Discount + item.Price:f2}";
                            <p class="mb-0 text-left"><s>@oldPrice lv.</s></p>
                        }
                    </div>
                    <div id="item-price-container">
                        @if (item.Discount > 0)
                        {
                            <span class="font-weight-bold text-danger" style="font-size: 17px">@item.Price lv.</span>
                        }
                        else
                        {
                            <span class="font-weight-bold" style="font-size: 17px"> @item.Price lv.</span>
                        }

                        <a class="btn btn-primary" asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">SEE MORE</a>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>