@model IEnumerable<ProductAllTableViewModel>

@{
    ViewData["Title"] = "Products";
}

<div class="d-lg-inline-block align-top col-3" id="filter-left">
    @await Html.PartialAsync("~/Views/Clients/_ManageLayoutPartialView.cshtml")
</div>
<div class="d-lg-inline-block align-top col-md-8 m-auto">
    @await Html.PartialAsync("~/Views/Employees/_AdminPanelPartialView.cshtml")

    <div class="alert alert-info" style="margin-top: 25px">
        <h2 style="text-align: center">Products - @Model.Count()</h2>
    </div>

    <div class="text-center" style="margin-bottom: 20px">
        <a asp-action="Create" asp-controller="Computers" class="btn btn-outline-dark">Create Computer</a>
        <div class="dropdown d-inline-block mb-2 mb-lg-0">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create Component
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a asp-action="CreateProcessor" asp-controller="Components" class="dropdown-item">Create Processor</a>
                <a asp-action="CreateMotherboard" asp-controller="Components" class="dropdown-item">Create Motherboard</a>
                <a asp-action="CreateRam" asp-controller="Components" class="dropdown-item">Create Ram</a>
                <a asp-action="CreateVideoCard" asp-controller="Components" class="dropdown-item">Create Video Card</a>
                <a asp-action="CreatePowerSupply" asp-controller="Components" class="dropdown-item">Create Power Supply</a>
                <a asp-action="CreateMemory" asp-controller="Components" class="dropdown-item">Create Memory</a>
                <a asp-action="CreateComputerCase" asp-controller="Components" class="dropdown-item">Create Computer Case</a>
            </div>
        </div>
        <a asp-action="Create" asp-controller="Computers" class="btn btn-outline-dark">Create Periphery</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Barcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Warranty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>Promotion</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var controller = item.Category == Category.Computer ? "Computers" : "Components";
                    var edit = item.Category == Category.Computer ? "Edit" : $"Edit{item.Category}";

                    <tr>
                    <td class="align-middle">
                        <button class="btn btn-outline-dark btn-sm">See Barcode</button>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Warranty)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td class="align-middle">
                        <img src="@item.Image" width="50" height="50" />
                    </td>
                    <td class="align-middle">
                        @if (item.Discount == 0)
                        {
                            <a asp-action="MakeDiscount" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Add Discount</a>
                        }
                        else
                        {
                             <form asp-action="RemoveDiscount" asp-controller="Products" method="post">
                                 <input type="hidden" name="id" value="@item.Id" />
                                 <button type="submit" class="btn btn-outline-danger btn-sm">Remove Discount</button>
                             </form>
                        }
                    </td>
                    <td class="align-middle">
                        <a asp-action="@edit" asp-controller="@controller" asp-route-id="@item.Id"><i class="bi bi-pencil-square text-success"></i></a>
                    </td>
                    <td class="align-middle" style="padding: 7px">
                             <form asp-action="Delete" asp-controller="Products" method="post">
                                 <input type="hidden" name="id" value="@item.Id" />
                                 <button type="submit" class="btn text-danger"><i class="bi bi-trash-fill"></i></button>
                             </form>
                         </td>
                    <td class="align-middle">
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info text-info"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>