@model IEnumerable<PernikComputers.Models.EmployeeListingModel>

@{
    ViewData["Title"] = "All";
}

 <div class="b-inline-top col-3" id="filter-left">
        @await Html.PartialAsync("~/Views/Clients/_ManageLayoutPartialView.cshtml")
 </div>
 <div class="b-inline-top col-md-8" id="products">
     @await Html.PartialAsync("~/Views/Employees/_AdminPanelPartialView.cshtml")

     <div class="alert alert-info" style="margin-top: 25px">
         <h2 style="text-align: center">Employees - @Model.Count()</h2>
     </div>
     <p class="text-center">
         <a asp-action="Create" class="btn btn-outline-dark">Create Employee</a>
     </p>
     <div class="table-responsive">
         <table class="table table-hover text-center">
             <thead>
                 <tr>
                     <th>
                         @Html.DisplayNameFor(model => model.UserName)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Email)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.FullName)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Phone)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.JobTitle)
                     </th>
                     <th></th>
                     <th></th>
                 </tr>
             </thead>
             <tbody>
                 @foreach (var item in Model)
                 {
                     <tr>
                         <td>
                             @Html.DisplayFor(modelItem => item.IsAdmin)
                             @Html.DisplayFor(modelItem => item.UserName)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Email)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.FullName)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Phone)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.JobTitle)
                         </td>
                         <td style="padding: 7px">
                             @if (item.UserName == "admin")
                             {
                                 <form asp-action="Promote" asp-controller="Employees" method="post">
                                     <input type="hidden" name="userId" value="@item.UserId" />
                                 </form>
                             }
                             else if (!item.IsAdmin)
                             {
                                 <form asp-action="Promote" asp-controller="Employees" method="post">
                                     <input type="hidden" name="userId" value="@item.UserId" />
                                     <button type="submit" class="btn btn-success">Promote</button>
                                 </form>
                             }
                             else
                             {
                                 <form asp-action="Demote" asp-controller="Employees" method="post">
                                     <input type="hidden" name="userId" value="@item.UserId" />
                                     <button type="submit" class="btn btn-danger">Demote</button>
                                 </form>
                             }
                         </td>
                         <td style="padding: 7px">
                             <form asp-action="Delete" asp-controller="Employees" method="post">
                                 <input type="hidden" name="id" value="@item.Id" />
                                 <button type="submit" class="btn text-danger"><i class="bi bi-trash-fill"></i></button>
                             </form>
                         </td>
                     </tr>
                 }
             </tbody>
         </table>
     </div>
 </div>
